.football {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.field {
	width: 100%;
	border-radius: 10px;
}

.ball {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.goal {
	display: none;
	position: absolute;
	top: 40%;
	left: 45%;
	font-size: 100px;
	color: red;
}